/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* General */
body, button {
    font-family: 'Nanum Gothic', sans-serif !important;
    font-size: 18px;
    text-align: center;
    color: #f6e0c8;
}
@media screen and (max-width: 600px) {
    body, button {
        font-size: 14px;
    }
}
img {
    max-width: 100%;
    height: auto;
}
h2 {
    font-weight: bold;
    font-size: 2em;
}

/* header stuff */
header {
    position: sticky;
    top: 0;
    background-color: #18215d;
    height: 20vh;
}
h1 {
    font-size: 2em;
    padding: 1.1em;
}
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.navbar li {
    display: inline;
}
.navbar li button {
    display: block;
    background-color: #18215d;
    text-align: center;
    padding: 14px 16px;
    border: 1px solid #f6e0c8;
    outline: 0;
    cursor: pointer;
}
.active {
    background: #f6e0c8 !important;
    color: #18215d;
    box-shadow: #f6e0c8  0 2px 8px 0;
}
/* content stuff */
main {
    min-height: 80vh;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #503197;
}
.pic-cont {
    margin: 5vh auto;
    display: flex;
    justify-content: center;
    width: 80vw;
}
main img {
    margin: 1em;
    border-radius: 50%;
}
.main-box {
    display: flex;
    flex-flow: column nowrap;
}
.main-box h2 {
    margin: 10px;
}

/* menu stuff */
.food-cont {
    display: grid;
    row-gap: 20px;
}